body {
    margin: 0%;
    background-color: #1a1a1a;
    font-family: "Inter", sans-serif;
}

button {
    font-size: 3vh;
}

.adding-div {
    display: flex;
    height: 7vh;
    border-style: solid;
    border-width: 0px 0px 0.5vh 0px;
    border-color: white;
    padding: 1vh;
    color: white;
}

.adding-div form input[type=text] {
    flex-grow: 7;
    border-radius: 5px;
    color: white;
    background-color: #1a1a1a;
    border-color: white;
}

.adding-div form input[type=submit] {
    flex-grow: 1;
    border-radius: 5px;
    font-size: 3vh;
    color: white;
    border: 0px;
    background-color: #262626;
    box-shadow: -1px -3px 35px 0px rgba(0,0,0,0.75);
}

.adding-div form {
    display: flex;
    width: 100%;
}

.orders-div {
    color: white;
    padding-bottom: 6vh;
}

.orders-div div {
    margin: 15px;
    display: flex;
    padding: 1vw;
    border-radius: 1vh;
    box-shadow: -1px -3px 35px 0px rgba(0,0,0,0.75) inset;
}



.orders-div div button{
    width: 5vh;
    border-radius: 20px;
    flex-grow: 1;
}

.orders-div div h1{
    width: 70%;
    overflow-wrap: break-word;
}

.orders-div div h2{
    width: 10%;
    align-self: center;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #141414;
    color: white;
    font-size: 2vh;
    
}

footer a {
    color: white;
}

footer p {
    margin: 0%;
    order: 1;
    padding: 2vh;
}

footer img {
    height: 2vh;
    order: 2;
    padding: 2vh;
}

footer img:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#alert {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 8vh;
    width: 100%;
    font-size: 1.8vh;
    color: white;
}

#alert h2 {
    background-color: #141414;
    padding: 1vh;
    border-radius: 10px;
}

